<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: import(~{:: title})">
    <title>企客宝客户管理系统-客户一览</title>
</head>
<body class="app-workbench">
<div class="page narrow">
    <div th:replace="_fragments :: aside('workbench')"></div>
    <div class="page-main">
        <div th:replace="_fragments :: navbar('工作台')"></div>
        <div class="padding-horizontal-20 padding-top-20">
            <div class="page-header">
                <h4 class="page-title">客户统计</h4>
            </div>
            <div class="page-content">
                <div class="panel">
                    <div class="panel-body">
                        <div class="row padding-20">
                            <div class="col-lg-2 col-sm-6">
                                <div class="counter text-left">
                                    <div class="counter-label blue-grey-700">客户总数量</div>
                                    <div class="counter-number-group">
                                        <a class="counter-number red-600" href="customer.html" target="_blank">3</a>
                                        <span class="counter-number-related red-600">个</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-sm-6">
                                <div class="counter text-left">
                                    <div class="counter-label blue-grey-700">所有未联系客户</div>
                                    <div class="counter-number-group">
                                        <a class="counter-number red-600" href="/customer?contactDate=none"
                                           target="_blank">3</a>
                                        <span class="counter-number-related red-600">个</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-sm-6">
                                <div class="counter text-left">
                                    <div class="counter-label blue-grey-700">逾期待联系客户</div>
                                    <div class="counter-number-group">
                                        <a class="counter-number red-600" href="/customer?endNextContactDate=2018-09-09"
                                           target="_blank">0</a>
                                        <span class="counter-number-related red-600">个</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-sm-6">
                                <div class="counter text-left">
                                    <div class="counter-label blue-grey-700">今天待联系客户</div>
                                    <div class="counter-number-group">
                                        <a class="counter-number red-600" href="/customer?nextContactDate=today"
                                           target="_blank">0</a>
                                        <span class="counter-number-related red-600">个</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-sm-6">
                                <div class="counter text-left">
                                    <div class="counter-label blue-grey-700">今天已联系客户</div>
                                    <div class="counter-number-group">
                                        <a class="counter-number red-600" href="/customer?contactDate=today"
                                           target="_blank">0</a>
                                        <span class="counter-number-related red-600">个</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-sm-6">
                                <div class="counter text-left">
                                    <div class="counter-label blue-grey-700">今天新创建和分配客户</div>
                                    <div class="counter-number-group">
                                        <a class="counter-number red-600" href="/customer?assignDate=today"
                                           target="_blank">3</a>
                                        <span class="counter-number-related red-600">个</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="padding-horizontal-20 padding-top-20">
            <div class="page-header">
                <h4 class="page-title">公海统计</h4>
            </div>
            <div class="page-content">
                <div class="panel">
                    <div class="panel-body">
                        <div class="row padding-20">
                            <div class="col-lg-4 col-sm-6">
                                <div class="counter text-left">
                                    <div class="counter-label blue-grey-700">公海总客户数</div>
                                    <div class="counter-number-group">
                                        <a class="counter-number red-600" href="publicCustomer.html"
                                           target="_blank">0</a>
                                        <span class="counter-number-related red-600">个</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6">
                                <div class="counter text-left">
                                    <div class="counter-label blue-grey-700">今日转入客户数</div>
                                    <div class="counter-number-group">
                                        <a class="counter-number red-600" href="/publicCustomer?assignDate=today"
                                           target="_blank">0</a>
                                        <span class="counter-number-related red-600">个</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6">
                                <div class="counter text-left">
                                    <div class="counter-label blue-grey-700">即将转移到公海客户数</div>
                                    <div class="counter-number-group">
                                        <a class="counter-number red-600" href="/customer?status=2"
                                           target="_blank">0</a>
                                        <span class="counter-number-related red-600">个</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="padding-horizontal-20 padding-top-20">
            <div class="page-header">
                <h4 class="page-title"><span id="financialStatistics-date-title">本周</span>款项记录</h4>
                <div class="page-header-actions">
                    <div class="dropdown">
                        <button type="button" class="btn btn-pure dropdown-toggle" data-toggle="dropdown"
                                aria-expanded="false">
                            <span id="financialStatistics-date-label">本周</span> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu" id="financialStatistics-menu">
                            <li><a href="#" data-value="thisweek">本周</a></li>
                            <li><a href="#" data-value="lastweek">上周</a></li>
                            <li><a href="#" data-value="thismonth">本月</a></li>
                            <li><a href="#" data-value="lastmonth">上月</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="page-content">
                <div class="panel" id="financialStatistics-panel">
                    <div class="panel-body">
                        <div class="row padding-20">
                            <div class="col-lg-3 col-sm-6">
                                <div class="counter text-left">
                                    <div class="counter-label blue-grey-700">成交合同数</div>
                                    <div class="counter-number-group">
                                        <a class="counter-number red-600" href="/contract?signDate=thisweek"
                                           target="_blank" id="totalContractNum" data-url="/contract?signDate=">1</a>
                                        <span class="counter-number-related red-600">个</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="counter text-left">
                                    <div class="counter-label blue-grey-700">成交合同金额</div>
                                    <div class="counter-number-group">
                                        <a class="counter-number red-600" href="/contract?signDate=thisweek"
                                           target="_blank" id="totalContractAmount"
                                           data-url="/contract?signDate=">80.00</a>
                                        <span class="counter-number-related red-600">元</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="counter text-left">
                                    <div class="counter-label blue-grey-700">回款金额</div>
                                    <div class="counter-number-group">
                                        <a class="counter-number red-600" href="/payment?receiveDate=thisweek"
                                           target="_blank" id="totalPaymentAmount" data-url="/payment?receiveDate=">80.00</a>
                                        <span class="counter-number-related red-600">元</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="counter text-left">
                                    <div class="counter-label blue-grey-700">开票金额</div>
                                    <div class="counter-number-group">
                                        <a class="counter-number red-600" href="/invoice?invoiceDate=thisweek"
                                           target="_blank" id="totalInvoiceDateAmount" data-url="/invoice?invoiceDate=">80.00</a>
                                        <span class="counter-number-related red-600">元</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-loading">
                        <div class="loader loader-default"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="padding-horizontal-20 padding-top-20">
            <div class="page-header">
                <h4 class="page-title"><span id="quantityStatistics-date-title">本周</span>新增数据统计</h4>
                <div class="page-header-actions">
                    <div class="dropdown">
                        <button type="button" class="btn btn-pure dropdown-toggle" data-toggle="dropdown"
                                aria-expanded="false">
                            <span id="quantityStatistics-date-label">本周</span> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu" id="quantityStatistics-menu">
                            <li><a href="#" data-value="thisweek">本周</a></li>
                            <li><a href="#" data-value="lastweek">上周</a></li>
                            <li><a href="#" data-value="thismonth">本月</a></li>
                            <li><a href="#" data-value="lastmonth">上月</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="page-content">
                <div class="panel" id="quantityStatistics-panel">
                    <div class="panel-body">
                        <div class="row padding-20">
                            <div class="col-lg-3 col-sm-6">
                                <div class="counter text-left">
                                    <div class="counter-label blue-grey-700">新创建客户</div>
                                    <div class="counter-number-group">
                                        <a class="counter-number red-600" href="/customer?createDate=thisweek"
                                           target="_blank" id="totalNewCustomerNum"
                                           data-url="/customer?createDate=">3</a>
                                        <span class="counter-number-related red-600">个</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="counter text-left">
                                    <div class="counter-label blue-grey-700">新创建销售机会</div>
                                    <div class="counter-number-group">
                                        <a class="counter-number red-600" href="/deal?createDate=thisweek"
                                           target="_blank" id="totalNewDealNum" data-url="/deal?createDate=">1</a>
                                        <span class="counter-number-related red-600">个</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="counter text-left">
                                    <div class="counter-label blue-grey-700">联系客户数</div>
                                    <div class="counter-number-group">
                                        <a class="counter-number red-600" href="/customer?contactDate=thisweek"
                                           target="_blank" id="totalContactCustomerNum"
                                           data-url="/customer?contactDate=">0</a>
                                        <span class="counter-number-related red-600">个</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="counter text-left">
                                    <div class="counter-label blue-grey-700">新成交客户</div>
                                    <div class="counter-number-group">
                                        <a class="counter-number red-600" href="/customer?statusChangeDate=thisweek"
                                           target="_blank" id="totalDealCustomerNum"
                                           data-url="/customer?statusChangeDate=">0</a>
                                        <span class="counter-number-related red-600">个</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-loading">
                        <div class="loader loader-default"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="padding-horizontal-20 padding-top-20">
            <div class="page-header"><h4 class="page-title">提醒/到期合同</h4></div>
            <div class="page-content">
                <div class="panel">
                    <div class="panel-body">

                        <div class="nav-tabs-horizontal">
                            <ul class="nav nav-tabs" data-plugin="nav-tabs" role="tablist">
                                <li class="active" role="presentation">
                                    <a data-toggle="tab" href="#workbench-tab-remind"
                                       aria-controls="workbench-tab-remind" role="tab">未完成任务提醒</a></li>
                                <li role="presentation">
                                    <a data-toggle="tab" href="#workbench-tab-contract"
                                       aria-controls="workbench-tab-contract" role="tab">本月到期合同</a></li>
                            </ul>
                            <div class="tab-content padding-top-20">
                                <div class="tab-pane active" id="workbench-tab-remind" role="tabpanel">
                                    <div class="table-responsive page-content-table">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th class="cell-60 text-center idx">编号</th>
                                                <th>任务内容</th>
                                                <th class="cell-150">任务负责人</th>
                                                <th class="cell-200">开始时间</th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody id="task-body">
                                            <tr id="task-item-clone" class="hide">
                                                <td class="idx"></td>
                                                <td><a href="#" data-toggle="modal" data-target="#taskModal"
                                                       class="task-remark"></a></td>
                                                <td class="task-ownerUser"></td>
                                                <td class="task-startDate"></td>
                                                <td class="suf-cell"></td>
                                            </tr>
                                            <tr>
                                                <td colspan="5" class="text-center">没有未完成的任务</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div id="workbench-tab-task-load-more" class="text-center" style="display: none;"><a
                                            href="/task">查看更多未完成任务</a></div>
                                </div>
                                <div class="tab-pane" id="workbench-tab-contract" role="tabpanel">
                                    <div class="table-responsive page-content-table">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th class="cell-60 text-center idx">编号</th>
                                                <th class="cell-250">合同标题</th>
                                                <th class="cell-150">合同编号</th>
                                                <th class="cell-250">所属客户</th>
                                                <th class="cell-100">负责人</th>
                                                <th class="cell-150">合同金额</th>
                                                <th class="cell-150">合同签约日期</th>
                                                <th class="cell-150">合同开始日期</th>
                                                <th class="cell-150">合同结束日期</th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody id="contract-body">
                                            <tr id="contract-item-clone" class="hide">
                                                <td class="idx"></td>
                                                <td><a href="#" target="_blank" class="contract-name"></a></td>
                                                <td class="contract-no"></td>
                                                <td class="contract-customer"></td>
                                                <td class="contract-ownerUser"></td>
                                                <td class="contract-amount"></td>
                                                <td class="contract-signDate"></td>
                                                <td class="contract-startDate"></td>
                                                <td class="contract-endDate"></td>
                                                <td class="suf-cell"></td>
                                            </tr>
                                            <tr>
                                                <td colspan="10" class="text-center">本月没有到期合同</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div id="workbench-tab-contract-load-more" class="text-center"
                                         style="display: none;"><a href="contract.html">查看更多到期合同</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="padding-horizontal-20 padding-top-20">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="page-header">
                        <h4 class="page-title">客户分类统计</h4>
                        <div class="page-header-actions">
                            <div class="dropdown pull-left">
                                <button type="button" class="btn btn-pure" data-toggle="modal"
                                        data-target="#groupUserModal" data-type="customerCategory">
                                    按员工查看 <span class="caret"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="page-content">
                        <div class="panel" id="customerCategoryChart-panel">
                            <div class="panel-body text-center padding-top-40">
                                <div id="customerCategoryChart"
                                     style="width: 100%; height: 400px; -webkit-tap-highlight-color: transparent; user-select: none; position: relative; background: transparent;"
                                     _echarts_instance_="ec_1536573071075">
                                    <div style="position: relative; overflow: hidden; width: 850px; height: 400px; padding: 0px; margin: 0px; border-width: 0px;">
                                        <canvas width="850" height="400" data-zr-dom-id="zr_0"
                                                style="position: absolute; left: 0px; top: 0px; width: 850px; height: 400px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 0px; margin: 0px; border-width: 0px;"></canvas>
                                    </div>
                                    <div></div>
                                </div>
                            </div>
                            <div class="panel-loading">
                                <div class="loader loader-default"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6">
                    <div class="page-header">
                        <h4 class="page-title">销售漏斗</h4>
                        <div class="page-header-actions">
                            <div class="dropdown pull-left">
                                <button type="button" class="btn btn-pure" data-toggle="modal"
                                        data-target="#groupUserModal" data-type="salesFunnel">
                                    按员工查看 <span class="caret"></span>
                                </button>
                            </div>
                            <div class="dropdown pull-left">
                                <button type="button" class="btn btn-pure dropdown-toggle" data-toggle="dropdown"
                                        aria-expanded="false">
                                    <span id="salesFunnelStatistics-type-label">按创建时间统计</span> <span
                                        class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right" role="menu" id="salesFunnelStatistics-type-menu">
                                    <li><a href="#" data-value="1">按创建时间统计</a>
                                    </li>
                                    <li><a href="#" data-value="2">按签单时间统计</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="dropdown pull-left">
                                <button type="button" class="btn btn-pure dropdown-toggle" data-toggle="dropdown"
                                        aria-expanded="false">
                                    <span id="salesFunnelStatistics-date-label">本周</span> <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right" role="menu" id="salesFunnelStatistics-date-menu">
                                    <li><a href="#" data-value="thisweek">本周</a></li>
                                    <li><a href="#" data-value="lastweek">上周</a></li>
                                    <li><a href="#" data-value="thismonth">本月</a></li>
                                    <li><a href="#" data-value="lastmonth">上月</a></li>
                                    <li><a href="#" data-value="all">全部</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="page-content">
                        <div class="panel" id="funnelChart-panel">
                            <div class="panel-body text-center padding-top-40">
                                <div id="funnelChart"
                                     style="width: 100%; height: 400px; -webkit-tap-highlight-color: transparent; user-select: none; position: relative; background: transparent;"
                                     _echarts_instance_="ec_1536573071074">
                                    <div style="position: relative; overflow: hidden; width: 850px; height: 400px; padding: 0px; margin: 0px; border-width: 0px;">
                                        <canvas width="850" height="400" data-zr-dom-id="zr_0"
                                                style="position: absolute; left: 0px; top: 0px; width: 850px; height: 400px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 0px; margin: 0px; border-width: 0px;"></canvas>
                                    </div>
                                    <div></div>
                                </div>
                            </div>
                            <div class="panel-loading">
                                <div class="loader loader-default"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="taskModal" aria-hidden="true" role="dialog" data-backdrop="static" data-keyboard="false"
     tabindex="-1">
    <div class="modal-dialog modal-center">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-hidden="true" data-dismiss="modal">×</button>
                <h4 class="modal-title">任务提醒详细信息</h4>
            </div>
            <div class="modal-body padding-horizontal-20">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="groupUserModal" aria-hidden="true" role="dialog" data-backdrop="static"
     data-keyboard="false" tabindex="-1">
    <div class="modal-dialog modal-center">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-hidden="true" data-dismiss="modal">×</button>
                <h4 class="modal-title">请选择员工</h4>
            </div>
            <div class="modal-body padding-horizontal-20">
                <form class="form-horizontal padding-horizontal-20" id="group-user-search-form">
                    <div class="form-group">
                        <label class="control-label padding-right-20" for="search-groupId">部门</label>
                        <select class="form-control select2-hidden-accessible" name="search-groupId" id="search-groupId"
                                data-language="zh-CN" style="width:300px" tabindex="-1" aria-hidden="true">
                            <option value="">全部</option>
                        </select><span class="select2 select2-container select2-container--default" dir="ltr"
                                       style="width: 300px;"><span class="selection"><span
                            class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true"
                            aria-expanded="false" tabindex="0" aria-labelledby="select2-search-groupId-container"><span
                            class="select2-selection__rendered" id="select2-search-groupId-container"
                            title="全部">全部</span><span class="select2-selection__arrow" role="presentation"><b
                            role="presentation"></b></span></span></span><span class="dropdown-wrapper"
                                                                               aria-hidden="true"></span></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label padding-right-20" for="search-userId">员工</label>
                        <select class="form-control select2-hidden-accessible" name="search-userId" id="search-userId"
                                data-plugin="select2" data-language="zh-CN" style="width:180px;" tabindex="-1"
                                aria-hidden="true">
                            <option value="">全部</option>
                            <option value="QVtaSg==">孙伟</option>
                        </select><span class="select2 select2-container select2-container--default" dir="ltr"
                                       style="width: 180px;"><span class="selection"><span
                            class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true"
                            aria-expanded="false" tabindex="0" aria-labelledby="select2-search-userId-container"><span
                            class="select2-selection__rendered" id="select2-search-userId-container"
                            title="全部">全部</span><span class="select2-selection__arrow" role="presentation"><b
                            role="presentation"></b></span></span></span><span class="dropdown-wrapper"
                                                                               aria-hidden="true"></span></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-sm" id="group-user-select-btn">确定</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
  /*<![CDATA[*/
  var _loginUserId = 'QVtaSg=='
  var _pageSize = 10
  var _users = [{
    'name': '\u5B59\u4F1F',
    'imgPath': 'images/person-avatar.png',
    'valid': true,
    'encodedGroupId': '',
    'encodedId': 'QVtaSg=='
  }]
  var _searchUsers = [{
    'name': '\u5B59\u4F1F',
    'imgPath': 'images/person-avatar.png',
    'valid': true,
    'encodedGroupId': '',
    'encodedId': 'QVtaSg=='
  }]

  var _groups = []
  var _customerCategories = [{
    'id': 124681,
    'name': 'A(\u91CD\u70B9\u5BA2\u6237)',
    'color': '#000000'
  }, { 'id': 124682, 'name': 'B(\u666E\u901A\u5BA2\u6237)', 'color': '#000000' }, {
    'id': 124683,
    'name': 'C(\u4F4E\u4EF7\u503C\u5BA2\u6237)',
    'color': '#000000'
  }]
  var _dealPhases = [{ 'id': 124693, 'name': '\u9700\u6C42\u63D0\u6848', 'color': '#000000' }, {
    'id': 124694,
    'name': '\u6295\u6807',
    'color': '#000000'
  }, { 'id': 124695, 'name': '\u5546\u52A1\u8C08\u5224', 'color': '#000000' }, {
    'id': 124696,
    'name': '\u8D62\u5355',
    'color': '#000000'
  }]
  /*]]>*/
</script>

<link rel="stylesheet" href="css/vendor/bootstrap-datepicker.min.css">
<link rel="stylesheet" href="css/vendor/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" href="css/vendor/bootstrap-select2.min.css">
<link rel="stylesheet" href="css/vendor/slidePanel.min.css">
<link rel="stylesheet" href="css/vendor/bootstrap-editable.min.css">
<link rel="stylesheet" href="css/vendor/magnific-popup.min.css">

<script type="text/javascript" src="script/vendor/moment.min.js"></script>
<script type="text/javascript" src="script/vendor/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="script/vendor/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="script/vendor/bootstrap-select2.min.js"></script>
<script type="text/javascript" src="script/vendor/echarts.min.js"></script>
<script type="text/javascript" src="script/workbench.js"></script>


</body>
</html>